$bgcr : #fff;
$box-shadow-wide: 0 0 50px #ababab; 
$box-shadow-middle: 0 0 30px #ababab; 
$box-shadow-thin: 0 0 20px #ababab;
$box-shadow-so-thin: 0 0 10px #ababab;
$light-box-shadow-wide: 0 0 50px #e6e6e6; 
$light-box-shadow-middle: 0 0 30px #e6e6e6; 
$light-box-shadow-thin: 0 0 20px #e6e6e6;
$light-box-shadow-so-thin: 0 0 10px #e6e6e6;
$error-box-shadow-so-thin: 0 0 10px #c57272;
$error-box-shadow-thin: 0 0 20px #c57272;
$error-box-shadow-middle: 0 0 30px #c57272;
$error-box-shadow-wide: 0 0 50px #c57272;

$grey-color:#797979;
$primary-color:#38dede;
$primary-font-color:#3fcdd2;
$link-color:#4c99ab;
