@font-face {
    font-family: OpenSans-light;
    src: url("../fonts/OpenSans-Light.ttf");
}

@font-face {
    font-family: OpenSans-regular;
    src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
    font-family: OpenSans-semiBold;
    src: url("../fonts/OpenSans-SemiBold.ttf");
}

@font-face {
    font-family: OpenSans-bold;
    src: url("../fonts/OpenSans-Bold.ttf");
}

@font-face {
    font-family: OpenSans-extraBold;
    src: url("../fonts/OpenSans-ExtraBold.ttf");
}