@import './constants.scss';
@import './fonts.scss';

.container-fluid.page{
    height: 100%;
    background-image: url("../media/bgimg.jpg");
    font-family: OpenSans-Regular;
}

.container-fluid.page{

    .registration-main-box{
        margin-top: 60px;
        box-shadow: $box-shadow-wide;
        padding: 60px 70px;;
        background-color: $bgcr;
        max-width: 600px;
    }

    .header{
        color: $grey-color;
        text-align: center;
        margin: 0;
        padding-bottom: 20px;
    }

    .text-input{
        width: 100%;
        border: none;
        background-color: #ececec5e;
        height: 50px;
        border-radius: 25px;
        margin-top: 15px;
        text-indent: 25px;
        outline: none;
        font-size: 15px;
        font-family: OpenSans-Regular;
        position: relative;
        display: block;
    }

    .text-input-container{
        position: relative;
    }

    .text-input-container>label{
        display: block;
        position: absolute;
        width: 12px;
        height: 12px;
        background-color: white;
        left: -25px;
        top: 18px;
        border-radius: 6px;
        border: 3px solid #38dede;
        transition: .3s;
    }
    

    .text-input:focus+label{
        border: 6px solid #38dede;
    }

}