@import '../constants.scss';
@import '../extendables.scss';
@import './animations.scss';

.container-fluid.page{
    height: 100%;
    background-image: url("../../media/bgimg.jpg");
    font-family: OpenSans-Regular;
    overflow: hidden;
}


.container-fluid.page>div>div{
    max-width: 600px;
    box-shadow: $box-shadow-wide;
}
.container-fluid.page{

    .row.main{
        position: relative;
        height: 100%;
    }

    .row.main>.col{
        height: 615px;
        @include center-center(absolute);
    }

    .row.main:last-child>.col{
        height: 550px;
    }

    .registration-main-box{
        margin: 0 auto;
        padding: 60px 70px;;
        background-color: $bgcr;
        margin-left: -15px;
        margin-right: -15px;
    }

    .header{
        color: $grey-color;
        text-align: center;
        margin: 0;
        padding-bottom: 20px;
    }

    .text-input{
        width: 100%;
        border: none;
        background-color: #ececec5e;
        height: 50px;
        border-radius: 25px;
        margin-top: 15px;
        text-indent: 25px;
        outline: none;
        font-size: 15px;
        font-family: OpenSans-Regular;
        position: relative;
        display: block;
    }

    .text-input-container{
        position: relative;
    }

    .text-input-container>label{
        display: block;
        position: absolute;
        width: 12px;
        height: 12px;
        background-color: white;
        left: -25px;
        top: 18px;
        border-radius: 6px;
        border: 3px solid #38dede;
        transition: .3s;
    }
    

    .text-input:focus+label{
        border: 6px solid #38dede;
    }

    .internal-link{
        color:$link-color;
    }

    .primary-button{
        padding: 0 35px;
        border: none;
        background:$primary-color;
        line-height:45px;
        display: flex;
        color:$bgcr;
        margin-top: 15px;
        border-radius: 25px;
        font-size: 17px;
        font-family: 'OpenSans-regular';
    }

    .content-box{
        font-size: 13px;
        padding-top: 26px;
        padding-left: 0;
        color: $grey-color;
    }

    .another-login-ways-container::before{
        
        @include top-center(absolute);
        content: "OR";
        display:block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        box-shadow: $box-shadow-middle;
        background-color: $bgcr;
        color:$primary-font-color;
        text-align: center;
        line-height: 40px;
        font-size: 14px;
    }

    .another-login-ways-container{
        padding: 50px 0;
        position: relative;
        background-color: #8cddde;
        margin: 0 -15px;
    }


    .another-login-ways-container{
        p{
            text-align: center;
            color: white;
        }
    
        .social-platforms-container{
            width: 200px;
            margin: 0 auto;
        }

        .social-platforms-container{
            .col{
                padding: 0;
            }

            .fa{
                background-color: white;
                display: inline-block;
                color: $primary-color;
                width: 35px;
                height: 35px;
                border-radius: 50%;
                margin: 0 auto;
                text-align: center;
                line-height: 35px;
                font-size: 16px;
                position: relative;
                left: 50%;
                transform: translateX(-50%);
                cursor: pointer;
                transition: .3s;
            }

            .fa:hover{
                box-shadow:$light-box-shadow-thin 
            }
        }
    }

}